.news {
  position: relative;
}

.news__title {
  position: absolute;
  color: $white;
  font-size: 30px;
  font-weight: 100;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  min-width: 300px;
  left: 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);


  @media (min-width: $tablet-width) {
    min-width: 700px;
    font-size: 50px;
    font-weight: 100;
    line-height: 75px;
    -webkit-text-stroke: 1px $gray;
    top: 40%;
  }

  @media (min-width: $desktop-width) {
    font-size: 70px;
  }
}

.news__title-picture {
  min-height: 300px;
}

.news__promo {
  position: absolute;
  font-size: 10px;
  line-height: 12px;
  color: $white;
  -webkit-text-stroke: 0.5px $gray;
  min-width: 300px;
  text-align: center;
  margin: 0;
  z-index: 1;
  left: 50%;
  top: 80%;
  transform: translate( -50%, -50%);

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 17px;
    min-width: 520px;
  }
}
